body{
    background-color: rgb(250, 249, 247);
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.btn{
    border: none;
    background-color: rgb(8, 86, 8);
    color: white;
    font-size: 18px;
    width: 75px;
    height:43px;
}
.btn:hover{
    background-color: black;
    color: white;
}


input,
button {
    padding: 10px;
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    background: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    text-align: center;
    
}


button {
    cursor: pointer;
}
.delete{
    border: none;
    background-color:rgb(161, 20, 20);
    color: white;
    font-size: 18px;
    width: 75px;
    border-radius: 6px;
    height:43px;
}
